sdno-brs-07c498d/mss-cbb/org.openo.sdno.mss.schema/src/main/resources/META-INF/models/datamodel-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3school.com.cn"
xmlns="http://www.w3school.com.cn" elementFormDefault="qualified"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:jaxb = "http://java.sun.com/xml/ns/jaxb" 
xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" 
xsi:schemaLocation="http://java.sun.com/xml/ns/jaxb/bindingschema_2_0.xsd" 
jaxb:extensionBindingPrefixes="xjc" jaxb:version="2.0">

<xs:include schemaLocation="GlobalBindings.xsd"/>

<xs:element name="inventory">
    <xs:complexType>
        <xs:sequence>
            <xs:element minOccurs="1"  maxOccurs="unbounded" ref="datamodel"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="datamodel">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="index" minOccurs="1"  maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="value" type="xs:string" use="required"/>
                    <xs:attribute name="isunique" type="xs:boolean"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="filter" minOccurs="1"  maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="value" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
</xs:element>

</xs:schema>
